<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Election_de_delegue"
        tools:targetApi="31">
        <activity
            android:name=".Confirmation_vote"
            android:exported="false" />
        <activity
            android:name=".description_candidat"
            android:exported="false" />
        <activity
            android:name=".inscription_app"
            android:exported="false" />
        <activity
            android:name=".activite_master2"
            android:exported="false" />
        <activity
            android:name=".activite_master1"
            android:exported="false" />
        <activity
            android:name=".activite_licence3"
            android:exported="false" />
        <activity
            android:name=".activite_licence2"
            android:exported="false" />
        <activity
            android:name=".troisieme_activite"
            android:exported="false"
            android:label="@string/title_activity_troisieme_activite"
            android:theme="@style/Theme.Election_de_delegue" />
        <activity
            android:name=".deuxieme_activite"
            android:exported="false"
            android:label="@string/title_activity_deuxieme_activite"
            android:theme="@style/Theme.Election_de_delegue" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Election_de_delegue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>